
@charset "UTF-8";

/* general note: adapted some style from https://github.com/edwardtufte/tufte-css;
less good versions of the poem online include https://en.wikisource.org/wiki/A_Fable_for_Critics
and https://rpo.library.utoronto.ca/poems/fable-critics-0;
consider pretige elite for new monotyped font: https://en.wikipedia.org/wiki/Prestige_Elite */


/*------ basic style ------*/

html {
    font-size: 12.5px;
}

body {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #fffff8;
    color: #111;
    max-width: 1400px;
}

h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p, ol, ul, table, div {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

a {
  color: #111;
}

img {
  width: 45%;
  max-width: 500px;
  padding-left: 22.5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

p {
    width: 77.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22.5%;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

div {
  width: 77.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 22.5%;
  padding-right: 0;
  vertical-align: baseline;
}

table {
  padding-left: 22.5%;
}

td {
  padding: 10px;
}

@media (max-width: 760px) {
  td {padding:0px}
}

section > p,
section > div,
section > table {
    width: 66%;
}

/*------ annotation classes ------*/


.reception {
    float: right;
    clear: right;
    margin-right: -8%;
    width: 37%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .9rem;
    line-height: 1.5;
    vertical-align: baseline;
    position: relative;
    z-index: 0;
}

.linenum {
  float: right;
  clear: right;
  margin-right: 30%;
  width: 2%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: .9rem;
  line-height: 1.5;
  text-align: right;
  vertical-align: baseline;
  position: absolute;
  z-index: 0;
}

.reference {
  float: left;
  clear: left;
  margin-left: -44%;
  width: 42%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: .9rem;
  line-height: 1.5;
  text-align: right;
  vertical-align: baseline;
  position: relative;
  z-index: 0;
}

.reception:hover + .excerpt {
  background-color: #f8f8ff;
}

/*------ site sections ------*/

#home {
  padding-left: 22.5%;
  padding-top: 30vh;
  padding-bottom: 50vh;
}

#about {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#about p, #authors p, #paratext p, #citations p, #info p {
  width: 77.5%;
  padding-left: 22.5%;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

#authors {
  padding-top: 10vh;
  padding-bottom: 26vh;
}

#poem {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#paratext {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#citations {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#info {
  padding-top: 60vh;
  padding-bottom: 10vh;
}


/*------ navbar ------*/

.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar a {
  float: right;
  display: block;
  color: #fffff8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .navhome {
  float: left;
}

.navbar a:hover {
  background-color: #333;
}

.navbar .icon {
  display: none;
}

.authorlink {
  padding-top: 70px;
}

@media (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media (max-width: 600px) {
  .navbar.responsive {
    margin: 0;
    padding: 0;
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .navbar.responsive .icon {
    position: absolute;
    color: #fffff8;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    z-index: 1;
  }
}

/*------ smaller screens ------*/

@media (max-width: 760px) {

    section > p,
    section > div,
    section > table {
      width: 85%;
    }

    p, table, div {
      padding-left: 12%;
    }

    section#about > p,
    section#info > p,
    section#citations > p {
      padding-left: 12%;
      width: 85%;
    }

    .reception,
    .reference {
        display: none;
    }
}

@media (max-width: 500px) {
  html {
      font-size: 10.5px;
  }
}

@media (max-width: 400px) {
  section#poem > div {
    width: 95%;
    padding-left: 4%
  }
}
